Draft Rules						
You have up to 110 points with which to draft 10-12 Pokémon. Costs are listed on the draft board. You do not have to spend your full budget.						
Pokemon cost anywhere between 1 - 20 points.						
The draft is a randomized snake style draft (1-12, 12-1, etc.)						
If a Pokemon is picked by someone else, you cannot pick it.						
Tera Captains are limited to Tiers 9 and below, and have a multiplier applied to their cost when drafted as a Tera Captain (see Draft Board).						
"You may have up to 2 Tera Captains from any tiers 9 and below. Tera Captains have 3 Tera Types, visible on each team's sheet. 
All three types are free, and Stellar Tera is banned."						
The deadline for Trades and Free Agencies is Week 7.						
You can change tera types on each captain for free once per season.						
You change tera captains within your team for free when making a trade, or by using a FA. However, a Pokemon can only be a captain once.						
You cannot draft more than 1 Mega Pokemon, and Mega Pokemon need to have their Mega Stone in battle. They don't need to Mega Evolve.						
"You cannot draft two Pokemon with the same National Dex number. This means you cannot draft two forms of the same Pokemon. 
Ex. Decidueye and Decidueye-Hisui, Rotom-Wash and Rotom-Heat or Mega Gardevoir and Gardevoir."						
Battle Rules						
All games must be played in the NatDex Draft format w/ Tera Preview enabled on Pokemon Showdown. 						
Each set is a best-of-one set.						
Either coach can turn timer on without asking the other coach (Sapphire & Ruby)						
All Pokemon must be Level 100 and you must bring a team of 6 Pokemon to battle.						
Battles are done with Tera Preview meaning the Tera Types of both teams are posted in the battle's chat box when choosing your lead Pokemon.						
"The following clauses apply:
 - Species Clause: A player cannot have two Pokémon with the same National Pokédex number on a team.
 - Sleep Clause: If a player has already put a Pokémon on their opponent's side to sleep and it is still sleeping, another one can't be put to sleep.
 - Evasion Clause: A Pokémon may not hold an item, use a move or possess an ability that can increase their evasion stat.
 - OHKO Clause: A Pokémon may not have the moves Fissure, Guillotine, Horn Drill, or Sheer Cold in its moveset.
 - Moody Clause: A Pokemon may not enter battle with the ability Moody.
 - Endless Battle Clause: Players cannot intentionally prevent an opponent from being able to end the game without forfeiting.
 - Baton Pass Clause: A Pokémon may not have Baton Pass in its moveset.
 - Accuracy Moves Clause: A Pokémon may not have a move that lowers the opponent's accuracy."						
Nasty Plot is banned on Mega Alakazam						
Jet Punch is banned on Palafin						
Banned Abilities/Items/Moves				Tera Captain Bans		
Abilities	Items	Moves				
Shadow Tag	Bright Powder	Acupressure	Pursuit	Alcremie	Polteageist	
Arena Trap	Lax Incense	Baton Pass	Return	Blastoise	Reuniclus	
Moody	Razor Fang	Flatter	Revival Blessing	Cetitan	Sinistcha	
	King's Rock	Frustrastion	Shed Tail	Kingdra	Swellow	
		Hidden Power	Swagger	Linoone	Toxtricity	
		Last Respects		Lokix	Venomoth	
